%h1 All Clips

%dl
  - @clips.each do |clip|
    %dt
      = link_to "Clip: #{clip.access_id}", clip_path(id: clip.access_id)
    %dd
      - code = clip.code.split("\n").take(5).join("\n")
      != CodeRay.scan(code, :ruby).div
